body{
  margin:0;
  width:360px;
  height:800px;
  background-size:cover;
  background-repeat:no-repeat;
}

/* BACKGROUNDS */
.login{
  background-image:url("images/login.jpg");
}

.profile{
  background-image:url("images/profile.jpg");
}

.menu-page{
  background-image:url("images/menu.jpg");
}

.results-page{
  background-image:url("images/results-list.jpg");
}

/* INPUTS */
input, button, div{
  position:absolute;
  background:transparent;
  border:none;
}

/* EMAIL */
.email{
  top:430px;
  left:30px;
  width:300px;
  height:45px;
}

/* PASSWORD */
.password{
  top:500px;
  left:30px;
  width:300px;
  height:45px;
}

/* SIGN IN */
.signin{
  top:570px;
  left:30px;
  width:300px;
  height:50px;
}

/* MENU BUTTON */
.menu-btn{
  top:15px;
  left:15px;
  width:50px;
  height:50px;
}

/* RESULT BUTTON IN MENU */
.result-btn-menu{
  top:420px;
  left:20px;
  width:200px;
  height:60px;
}

/* RESULT TABS */
.r1{ top:200px; left:20px; width:320px; height:50px; }
.r2{ top:260px; left:20px; width:320px; height:50px; }
.r3{ top:320px; left:20px; width:320px; height:50px; }
.r4{ top:380px; left:20px; width:320px; height:50px; }
.r5{ top:440px; left:20px; width:320px; height:50px; }
