body {
  margin: 0;
  width: 360px;
  height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
}

/* STEP 1 LOGIN */
.login {
  background-image: url("images/login.jpg");
}

/* STEP 2 PROFILE */
.profile {
  background-image: url("images/profile.jpg");
}

/* STEP 3 MENU */
.menu-page {
  background-image: url("images/menu.jpg");
}

/* STEP 4 YOUR PHOTO */
.me-photo {
  background-image: url("images/me.jpg");
}

/* STEP 5 FATHER PHOTO */
.father-photo {
  background-image: url("images/father.jpg");
}

/* INPUTS */
input, button {
  position: absolute;
  background: transparent;
  border: none;
}

/* EMAIL */
.email {
  top: 430px;
  left: 30px;
  width: 300px;
  height: 45px;
}

/* PASSWORD */
.password {
  top: 500px;
  left: 30px;
  width: 300px;
  height: 45px;
}

/* SIGN IN BUTTON */
.signin {
  top: 570px;
  left: 30px;
  width: 300px;
  height: 50px;
}

/* MENU ICON BUTTON (Top Left) */
.menu-btn {
  top: 15px;
  left: 15px;
  width: 50px;
  height: 50px;
}
