body {
  margin: 0;
  width: 360px;
  height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
}

/* BACKGROUND IMAGES */
.login {
  background-image: url("images/login.jpg");
}

.profile {
  background-image: url("images/profile.jpg");
}

.menu-page {
  background-image: url("images/menu.jpg");
}

.me-photo {
  background-image: url("images/me.jpg");
}

.father-photo {
  background-image: url("images/father.jpg");
}

/* INPUTS + BUTTONS */
input, button {
  position: absolute;
  background: transparent;
  border: none;
}

/* EMAIL INPUT (70% Size) */
.email {
  top: 430px;
  left: 30px;
  width: 210px;
  height: 35px;
}

/* PASSWORD INPUT */
.password {
  top: 500px;
  left: 30px;
  width: 210px;
  height: 35px;
}

/* SIGN IN BUTTON */
.signin {
  top: 570px;
  left: 30px;
  width: 210px;
  height: 35px;
}

/* TOP LEFT MENU ICON CLICK AREA */
.menu-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 60px;
  height: 60px;
  background: transparent;
  cursor: pointer;
}
