body{
  margin:0;
  width:360px;
  height:800px;
  background-size:cover;
  background-repeat:no-repeat;
}

/* BACKGROUND IMAGES */
.login{
  background-image:url("images/login.jpg");
}

.profile{
  background-image:url("images/profile.jpg");
}

.menu-page{
  background-image:url("images/menu.jpg");
}

/* INPUTS & BUTTONS */
input, button, .menu{
  position:absolute;
  background:transparent;
  border:none;
}

/* EMAIL BOX */
.email{
  top:430px;
  left:30px;
  width:300px;
  height:45px;
}

/* PASSWORD BOX */
.password{
  top:500px;
  left:30px;
  width:300px;
  height:45px;
}

/* SIGN IN BUTTON */
.signin{
  top:570px;
  left:30px;
  width:300px;
  height:50px;
}

/* SIGN UP BUTTON */
.signup{
  top:640px;
  left:30px;
  width:300px;
  height:50px;
}

/* 3 LINE MENU ICON */
.menu{
  top:15px;
  left:15px;
  width:40px;
  height:40px;
}
